<p class=p1>Please Review Your Order</p>

<% total = 0%>
<div class="orderguide">
	<!-- COOKIEORDER.EACH IS TAKING EACH ITEM IN THE ARRAY AND PASSING IT TO "C" -->
<% @cookieOrders.each do |c| %> 
<!-- C.NAME IS EACH COOKIE IN THE ARRAY BEING DISPLAYED -->
<div><%= c.name %></div>
<!-- C.AMOUNT IS EACH NUMBER OF COOKIE FROM ARRAY BEING DISPLAYED -->
<div><%= c.amount.to_s + " each" %></div>
<!-- THE TOTAL NEEDS TO BE THE TOTAL AMOUNTS FROM THE ARRAY -->
<% total = total + c.amount.to_i %>
<%end%>
<span class='total'><%= total.to_s + " total cookies"%> </span>

<div><%= "<span class='user'>First Name:</span> " + @user.first_name %></div>
<div><%= "<span class='user'>Last Name:</span> " + @user.last_name %></div>
<div><%= "<span class='user'>Phone Number:</span> " + @user.phone %></div>
<div><%= "<span class='user'>Address:</span> " + @user.address %></div>
<div><%= "<span class='user'>City:</span> " + @user.city %></div>
<div><%= "<span class='user'>Zip Code:</span> " + @user.zip_code %></div>
<div><%= "<span class='user'>Email:</span> " + @user.email %></div>
</div>

